<html>
<body>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </header>
    <footer>
        &copy; MyCompany Inc.
    </footer>
</body>
</html>